/*FONTS */

/* Font 1 */
@font-face {
  font-family: 'Herr';
  src: url('fonts/HerrVonMuellerhoff-Regular.ttf') format('truetype');
}

/* Font 2 */
@font-face {
  font-family: 'Italiano';
  src: url('fonts/Italianno-Regular.ttf') format('truetype');
}

/* Font 3 */
@font-face {
  font-family: 'Pari';
  src: url('fonts/Parisienne-Regular.ttf') format('truetype');
}

/* Font 4 */
@font-face {
  font-family: 'TanBold';
  src: url('fonts/Tangerine-Bold.ttf') format('truetype');
}

/* Font 5 */
@font-face {
  font-family: 'TanReg';
  src: url('fonts/Tangerine-Regular.ttf') format('truetype');
}